input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Mejora la apariencia en navegadores que no soportan input date */
input[type="date"] {
  position: relative;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #6b7280; /* gray-500 */
}