
<div class="p-4">
   
    <div>
        <dynamic-form
            [fields]="PatientsFormFields(catalogs)"
            [initialData]="initiaData"
            [askfor]="onFormCreated"
            (onFormChange)="handleFormChange($event)">
        </dynamic-form>
    </div>
    <div class="flex mt-5 justify-end">
         <button appTranslate="COMMON.CANCEL" (click)="close()" class="bg-gray-800 text-white px-4 py-2 mr-4 rounded">Cancelar</button>
        <button (click)="save()"
               [disabled]="!formData?.valid" 
               [ngClass]="formData?.valid 
                          ? 'bg-danger-900 text-white' 
                         : 'bg-danger-400 cursor-not-allowed'"
               class="bg-info-500 text-white px-4 py-2  rounded">
               Guardar 
            </button>
       
    </div>
   
   
  
</div>