<div class="confirm-modal justify-center text-center p-6">


    <!-- Icon Section -->
    @if (data.icon) {
    <div class="flex justify-center mb-4 ">
        <div [ngClass]="{
              'text-info-500': !data.iconColor ,
              'text-danger-500': data.confirmSeverity === 'danger',
              'text-success-500': data.confirmSeverity === 'success',
              'text-yellow-500': data.confirmSeverity === 'warn'
            }">
            <span class="material-symbols-outlined text-center  text-7xl">
                {{ data.icon }}
            </span>
        </div>
    </div>
    }

    <!-- Title -->
    <h2 class="modal-title text-xl font-semibold text-gray-900 text-center mb-3">
        {{ data.title }}
    </h2>

    <!-- Message -->
    <div class="modal-content text-gray-600 text-center mb-6 leading-relaxed">
        <p class="m-0">{{ data.message }}</p>
    </div>

    <!-- Actions -->
    <div class="modal-actions flex justify-center gap-3">
        <button (click)="onCancel()"
            class="px-6 py-3 border border-primary-300 text-primary-700 font-medium rounded-lg hover:bg-primary-50 transition-colors flex items-center justify-center">
         
            {{ data.cancelText || 'Cancelar' }}
        </button>

        <button (click)="onConfirm()"
            class="px-6 py-3 bg-primary-700 text-white font-medium rounded-lg hover:bg-primary-600 transition-colors flex items-center justify-center shadow-md">
        
            {{ data.confirmText || 'Confirmar' }}
        </button>
    </div>
</div>