<div class="p-4">
   
    <div>
        <dynamic-form
            [fields]="PatientsFormFields(catalogs)"
            [initialData]="initiaData"
            [askfor]="onFormCreated"
            (onFormChange)="handleFormChange($event)">
        </dynamic-form>
    </div>
    <div class="flex justify-end mt-4">
         <button (click)="close()" class="bg-secondary text-white px-4 py-2 mr-4 rounded transition-colors hover:opacity-90" appTranslate="COMMON.CANCEL">cancel</button>
        <button (click)="save()"
               [disabled]="!formData?.valid" 
               [ngClass]="formData?.valid 
                          ? 'bg-primary text-white' 
                         : 'bg-surface-200 text-content/40 cursor-not-allowed'"
               class="bg-primary text-white px-4 py-2 rounded transition-all shadow-sm">
               <span appTranslate="COMMON.SAVE">Guardar</span>
            </button>
    </div>
   
   
  
</div>